// traject will parse nav(- - -) to symflex notation:
// '- - -', &__nav

// @include symflex($childObject, (
//   'default': [
//     '- - -'
//   ]
// ));

@import 'traject-parse-helper';
@mixin symflex($string, $selector:self) {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    $flex-direction: false;
    $flex-wrap: false;
    $justify-content: false;
    $align-items: false;
    $flex-flow: false;


    // find flex direction: - , = 
    @each $name, $char in $string {
      @if (str-index($name, '-')) {
        $flex-direction: row;
      }
      @else if (str-index($name, '=')) {
        $flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
      }
      @else {
        $flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
      }
    }

    // find flex wrap: - - - >
    @each $name, $char in $string {
      @if (str-index($name, '>')) {
        $flex-wrap: wrap;
      } @else {
        $flex-wrap: nowrap;
      }
    }

    // find flex reverse: < = = =
    @each $name, $char in $string {
      @if (str-index($name, '<')) {
        $flex-direction: #{$flex-direction}-reverse;
      } 
    }


    // render
    // reconcile for flow:
    @if ($flex-direction and $flex-wrap) {
        $flex-flow: #{$flex-direction} #{$flex-wrap};
    }
    @if ($flex-flow) {
      flex-flow: $flex-flow;
      -ms-flex-flow: $flex-flow;
          flex-flow: $flex-flow;
    }

}
