@import 'traject-modifiers';

@mixin parseModifiers($childrenObj, $breakPoint, $gridModifiers) {
  @each $modifier in $gridModifiers {
    $modifier: str-replace($modifier, $search:'_', $replace: '');
    $modifierArr: str-split($modifier, ':');
    $action: unquote(nth($modifierArr, 1));
    $target: unquote(nth($modifierArr, 2));
    $selector: map-get($childrenObj, $target);

    #{$selector} {
      @if ($breakPoint == 'default') {
        @if ($action == 'show') {
          display: block;
        }
        @else if ($action == 'hide') {
          display: none;
        }
      } @else {
        @include media('screen', '#{$breakPoint}') {
          @if ($action == 'show') {
            // internet explorer does not support display:initial, so it will default to block.
            display: block;
            display: initial;
          }
          @else if ($action == 'hide') {
            display: none;
          }
        }
      }
    }
  }
}
