@import 'traject-modifiers';

@mixin parseModifiers($childrenObj, $breakPoint, $modifiers) {
  // $childrenObj: ( nav: '&__nav', body: '&__body', sidebar: '&__sidebar');
  // $breakPoint: 'default', '<tablet'
  // $modifiers: '_mixin',
  //             '_mixin(arg,arg)'
  //             '_mixin(arg,"arg")'
  //             '_mixin(arg,"arg spaced",arg)
  //             '_mixin(arg,arg):target'

  // $traject-modifiers: (
  //     '_flex': (
  //         mixin: flexBox,
  //         args: true,
  //         arg-string: false,
  //         target: child
  //     )
  // );

  @each $modifier in $modifiers {
    $modifier: str-replace($modifier, $search:'_', $replace: '');
    $modifierArr: str-split($modifier, ':');
    $action: unquote(nth($modifierArr, 1));
    $target: unquote(nth($modifierArr, 2));
    $selector: map-get($childrenObj, $target);

    #{$selector} {
      @if ($breakPoint == 'default') {
        @if ($action == 'show') {
          display: block;
        }
        @else if ($action == 'hide') {
          display: none;
        }
      } @else {
        @include media('screen', '#{$breakPoint}') {
          @if ($action == 'show') {
            // internet explorer does not support display:initial, so it will default to block.
            display: block;
            display: initial;
          }
          @else if ($action == 'hide') {
            display: none;
          }
        }
      }
    }
  }
}
