@import 'include-media';
@import 'traject-parse-helper';
@import 'traject';

*{ margin: 0; padding: 0; }

.box {
$boxObj: ( nav: '&__nav', body: '&__body', sidebar: '&__sidebar');

 @include traject($boxObj, (

  'default': [
    'nav body body',
    'sidebar body body',

    '_templateColumns(200px 1fr)'
  ],

  '<=tablet': [
    'nav sidebar',
    'body body',

    '_templateRows(90px 1fr)',
    '_templateColumns(90px 1fr)'
  ],

  '<=550px': [
    'nav',
    'body',

    '_hide:sidebar',
    '_templateRows(90px 1fr)',
    '_templateColumns(1fr)'
  ]

 ));

  height: 100vh;
  width: 100vw;
  &__nav { background-color: darkgray; }
  &__body { background-color: lightgray; }
  &__sidebar { background-color: gray; }
}

