@import 'traject';

*{ margin: 0; padding: 0; }

.box {

  @include traject((

    'default': (
      'nav nav nav',
      'sidebar body body',
      '_tr: 85px 1fr',
      '_tc: 1fr 1fr 1fr'
    ),

    '<=tablet': (
      'nav nav nav',
      'body body body',
      '_hide: sidebar'
    )

  ));

  height: 100vh;
  width: 100vw;
  &__nav { background-color: darkgray; }
  &__body { background-color: lightgray; }
  &__sidebar { background-color: gray; }

  }

