@import 'src/include-media';
@import 'src/parse-helper';
@import 'src/traject';
@import 'src/traject';

*{ margin: 0; padding: 0; }


.box {
$boxObj: ( nav: '&__nav', body: '&__body', sidebar: '&__sidebar');
 @include traject($boxObj, (

  'default': [
    'nav . .',
    'sidebar body body'
  ],

  '<=tablet': [
    'nav body body',
    'nav sidebar sidebar'
  ],

  '<=550px': [
    'nav',
    'body',
    '_hide sidebar'
  ]

   // '<tablet': [
   //   'nav body body',
   //   'nav sidebar sidebar',
   // ],

   // '<550px' : [
   //   'nav',
   //   'body',
   //   '_column-width 1fr/1fr',
   //   '_flex(co-c-a) nav',
   //   '_hide sidebar',
   // ]

 ));

  height: 100vh;
  width: 100vw;
  &__nav { background-color: blue; }
  &__body { background-color: green; }
  &__sidebar { background-color: red; }
}

